@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap");
@import url("//db.onlinewebfonts.com/c/bb25f84423b9515a1d475d02d2de6462?family=Bell+MT");

@layer base {
  body,
  a,
  button {
    @apply font-Prompt;
    background-color: rgb(247, 247, 247, 1);
    @apply text-primary;
    @apply text-sm;
    letter-spacing: 0.01em;
    @apply p-0;
    @apply m-0;
  }
}

@layer components {
  .link a {
    @apply block;
    @apply w-full;
    @apply h-full;
    @apply transition-all;
    @apply p-4;
    @apply bg-white;
    @apply text-base;
    @apply md:p-1;
  }

  .link button {
    @apply w-full;
    @apply h-full;
    @apply rounded-md;
    @apply p-4;
    @apply bg-white;
    @apply text-base;
    @apply md:p-1;
    @apply hover:opacity-80;
  }

  .btn {
    background-color: #002060;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 8px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    @apply bg-primary;
    display: flex;
    cursor: pointer;
  }

  .navbar__toggle.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar__toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* ? login */
  .active-nav {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* input */
  .field {
    @apply relative m-3;
  }
  .field .input-nav {
    @apply w-full px-[10px] pt-4 pb-2 outline-none border border-solid border-[#ccc] placeholder:transition-colors rounded-md;
  }

  .field .input-nav::placeholder {
    transition: color 300ms ease;
  }

  .field .input-nav:not(:focus)::placeholder {
    color: transparent;
  }
  .field .label-nav {
    @apply absolute top-[22px] left-[12px] text-[#888] text-[120%] origin-[0_-190%] transition-transform pointer-events-none;
  }

  .field .input-nav:focus ~ .label-nav,
  .field .input-nav:valid ~ .label-nav {
    transform: scale(0.6);
  }

  .transform{
    transform: scale(0.6);
  }

  .switch-button {
    @apply flex items-center justify-center py-0 px-4 rounded-full 
    font-bold text-white text-lg bg-secondary cursor-pointer border-none 
    appearance-none outline-none w-[45px] h-[45px] 
    absolute hover:bg-tertiary desktop:w-8 desktop:h-8 desktop:!top-[50%] 
    desktop:left-[50%];
    top: calc(77px - 0.5px);
    right: -12px;
    transform: translate(-50%, -50%) rotate(0) skew(0, 0) scale(1, 1);
    transition: all 0.15s linear 75ms;
  }

  .switch-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
    outline: 2px dotted transparent;
    outline-offset: 2px;
  }

  .active-switch {
    transform: translate(-50%, -50%) rotate(180deg) skew(0, 0) scale(1, 1);
  }

  .icon {
    @apply flex items-center justify-center font-bold text-[22px];
    transform: translate(0, 0) rotate(90deg) skew(0, 0) scale(1, 1);
  }

  @media screen and (min-width: 1360px) {
    .icon {
      transform: translate(0, 0) rotate(180deg) skew(0, 0) scale(1, 1);
    }
  }

  .hs-button {
    @apply flex items-center justify-center text-white font-bold text-sm py-0 px-4 bg-primary rounded-md flex-col h-12 hover:bg-secondary;
  }

  .hs-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
    outline: 2px dotted transparent;
    outline-offset: 2px;
  }
}

* {
  scroll-behavior: smooth;
}

/* calender */
.MuiDateCalendar-root {
  display: initial !important;
  position: absolute !important;
  z-index: 9999;
  left: 0;
  @apply desktop:left-1 left-[100px];
  margin-top: 72px;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: white;
}

.search-height-exit {
  @apply opacity-0 h-0 overflow-hidden;
}

.search-height-active {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-height-enter-done {
  @apply h-auto opacity-100 overflow-visible;
}

.card-container {
  width: 100%;
  background-color: rgb(255, 255, 255, 1);
  padding: 20px;
  height: auto;
  border-radius: 5px;
}

.airline-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.da {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  column-gap: 3px;
}

.time-data {
  display: flex;
  align-items: center;
  column-gap: 25px;
  position: relative;
}

.front-origin {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.front {
  font-size: 14px;
}

.code-data {
  font-size: 12px;
}

.icon-go-return {
  display: flex;
  align-items: center;
}

.icon-go-return > svg:nth-child(1) {
  display: none;
}

.arrow-right {
  margin-left: -5px;
}

.des {
  margin-left: 5px;
}

.time-diff {
  display: flex;
  justify-content: center;
}

.price-select {
  @apply flex desktop:flex-row flex-col;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.price {
  display: flex;
  text-align: end;
  font-size: 14px;
}

.price-flex {
  display: flex;
  text-align: end;
}

.relative-price {
  position: relative;
}

.font-price {
  font-weight: bold;
  font-size: 18px;
}

.font-per {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

.select-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  flex-direction: column;
  width: 80px;
  height: 35px;
  cursor: pointer;
  margin-left: 15px;
}

.select-price:hover {
  background-color: #247bb6;
}

.select-price:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
  outline: 2px dotted transparent;
  outline-offset: 2px;
}

.circle-confirm {
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  -webkit-animation: draw 1s forwards;
  animation: draw 1s forwards;
}

.tick-confirm {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  -webkit-animation: draw 1s forwards 1s;
  animation: draw 1s forwards 1s;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (min-width: 1360px) {
  /* data */
  .da {
    justify-content: space-between;
    flex-direction: row;
    row-gap: 3px;
  }

  .airline-data {
    justify-content: flex-start;
  }

  .search-data {
    margin-top: 30px;
  }

  .icon-go-return > svg:nth-child(1) {
    display: flex;
  }
}